%h1 Recent Phrases

%table
  %tr
    %th Phrase
    %th
    %th
    %th

  - @phrases.each do |phrase|
    %tr
      %td= phrase.phrase
      %td= link_to 'Show', phrase
      %td= link_to 'Edit', edit_phrase_path(phrase)
      %td= link_to 'Destroy', phrase, :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New Phrase', new_phrase_path
